main.wrapper div.menu {
    width: 100%;
    height: 44px;
    background-color: rgb(22, 22, 23);
}

main.wrapper div.menu nav{
    width: inherit;
    height: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
}

main.wrapper div.menu nav div{
    width: auto;
    padding: 0 4px;
    margin: 0 12px;
}

main.wrapper div.menu nav div a{
    font-family: Apple;
    font-size: 12px;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.8);
}