*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


main.wrapper {
    width: 100%;

}

@font-face {
    font-family: Apple;
    src: url(../font/sf-pro-display_bold.woff2);
    src: url(../Font/sf-pro-display_semibold.woff2);
    src: url(../Font/sf-pro-text_semibold.woff2);
}

@font-face {
    font-family: Applereg;
    src: url(../Font/sf-pro-display_regular.woff2);
}

:link{
    text-decoration: none;
}


.swiper {
    width: 100%;
    height: 100%;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }