main.wrapper div.parent_banner4{
    width: 98%;
    height: 1776px;
    margin-top: 12px;
    margin-left: auto;
    margin-right: auto;
}

main.wrapper div.parent_banner4 div.banner4{
    width: 100%;
    height: inherit;
    display: grid;
    grid-template-columns: repeat(2 , 1fr);
    grid-template-rows: repeat(3 , 1fr);
    gap: 12px;
}

main.wrapper div.parent_banner4 div.banner4 div.child a{
    width: 100%;
    height: 100%;
    display: block;
}

main.wrapper div.parent_banner4 div.banner4 div.child a img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
