main.wrapper div.parent_footer{
    width: 100%;
    height: 906px;
    background-color: crimson;
    display: flex;
    justify-content: center;
}

main.wrapper div.parent_footer div.footer{
    width: 60%;
    height: inherit;
    padding: 0 22px;
    background-color: teal;
}

main.wrapper div.parent_footer div.footer div.top{
    width: 100%;
    height: 320px;
    background-color: darksalmon;
}

main.wrapper div.parent_footer div.footer div.top p{
    font-family: Applereg;
    font-size: 12px;
    font-weight: 400;
    color: rgba(0, 0, 0, 0.56);
    padding: 0 0 10px 0;
}

main.wrapper div.parent_footer div.footer nav{
    width: 100%;
    height: 460px;
    background-color: thistle;
    border-top: 1px solid rgba(0, 0, 0, 0.56);
    border-bottom: 1px solid rgba(0, 0, 0, 0.56);
}

main.wrapper div.parent_footer div.footer nav div{
    width: 19.9%;
    height: 440px;
    margin-right: -3px;
    display: inline-block;
    background-color: navajowhite;
}

